@import "tailwindcss/base";

html,body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";