@import 'tailwindcss/base';

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr max-content;
  @apply text-gray-800;
}

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
